.task2 {
  background: rgb(204, 203, 203);
  padding: 10px;
}

.newPost {
  background: white;
  width: 100%;
  min-height: 30px;
  margin-bottom: 10px;
}

.posts {
  /* margin: 5px; */
  /* border: 1px solid #361F36; */
  width: 100%;
  min-height: 25px;
  height: 100%;
  background: white;
}

#btnNewPost {
  margin: 5px 0 0 0;
  background-color: rgb(63, 63, 135);
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
}

#inputNewPost {
  width: 330px;
  margin: 5px 0 0 10px;
  border: 1px solid #ffffff;
}
